@media (max-width:600px) {
     .navigasi {
        display: none;
     }
  
     a.shop {
        margin-right: 10px;
        margin-left: auto;
     }
  
     header div.kiri,
     header div.kanan {
        width: 100%;
        padding: 20px;
        text-align: center;
     }
  
     div.produk,
     div.team,
     div.kontak {
        width: 50%;
     }
  
     div.testimoni {
        width: 100%;
        margin-bottom: 20px;
     }
  }